@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul, ol {
    list-style: revert;
  }
}

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 1180px) {
  .mobile-list {
    display: none;
  }
}

@media only screen and (max-height: 414px) {
  .height-limit {
    display: none;
  }
}